Repository kradalby/tasmota-homekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, prettier, gofmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for tasmota-homekit
# Hooks expect to run inside `nix develop`

exclude: ^(result/|\.direnv/)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or: [yaml, json, markdown]

      - id: gofmt
        name: gofmt
        entry: gofmt -w
        language: system
        types: [go]

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --new-from-rev=HEAD~1
        language: system
        types: [go]
        pass_filenames: false

flake: update inputs
  flake.lock
Due: none

ci: bump action pins
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: prettier

deps: bump kra, tasmota-go, tailscale and x/ modules
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

pre-commit: bump pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: prettier

nix: use stdenv.hostPlatform.system in overlay
  flake.nix
Due: nixpkgs-fmt

nix: describe flake apps
  flake.nix
Due: nixpkgs-fmt

plugs: read power state from StatusSTS only
  plugs/manager.go
  plugs/manager_test.go
Due: gofmt, golangci-lint

plugs: publish state in mutation order
  plugs/manager.go
  plugs/manager_test.go
  state_sync_test.go
Due: gofmt, golangci-lint

hap: switch plugs synchronously on HomeKit writes
  README.md
  app.go
  hap.go
  hap_test.go
  plugs/manager.go
  plugs/manager_test.go
  plugs/types.go
  state_sync_test.go
Due: prettier, gofmt, golangci-lint

plugs: drop readings older than the stored ones
  mqtt.go
  mqtt_test.go
  plugs/manager.go
  plugs/manager_test.go
  plugs/types.go
  state_sync_test.go
Due: gofmt, golangci-lint

hap: start accessories from manager state
  hap.go
  hap_test.go
Due: gofmt, golangci-lint

web: read plug state from the manager snapshot
  events/bus.go
  events/types.go
  plugs/manager.go
  state_sync_test.go
  web.go
  web_test.go
Due: gofmt, golangci-lint

docs: describe snapshot state owner
  README.md
  TASMOTA_IMPLEMENTATION.md
Due: prettier

go.mod: bump kra and tasmota-go
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt
