Repository kradalby/tasmota-homekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, prettier, gofmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different
  language: system

gofmt:
  name: gofmt
  entry: gofmt -w
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev=HEAD~1
  language: system
  pass_filenames: false

dbug panic fix
  debug.go
Due: gofmt, golangci-lint

config
  .env.example
  README.md
  TASMOTA_IMPLEMENTATION.md
  app.go
  config/config.go
  nix/module.nix
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

state dir
  AGENTS.md
  README.md
  app.go
  cmd/tasmota-homekit/main.go
  flake.nix
  go.mod
  go.sum
  hap.go
  hap_test.go
  main_test.go
  metrics/collector.go
  metrics/collector_test.go
  mqtt.go
  mqtt_test.go
  plugs/manager.go
  plugs/manager_test.go
  web.go
  web_test.go
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

stable order
  debug.go
  hap.go
  hap_test.go
Due: gofmt, golangci-lint

bridge name
  .env.example
  README.md
  TASMOTA_IMPLEMENTATION.md
  app.go
  config/config.go
  config/config_test.go
  hap.go
  hap_test.go
  nix/module.nix
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

make hap depend on mqtt, not web
  AGENTS.md
  hap.go
  hap_test.go
  plugs/manager.go
  plugs/manager_test.go
  state_sync_test.go
Due: prettier, gofmt, golangci-lint

gitignore: ignore .claude and test-store
  .gitignore
Due: none

flake: bump nixpkgs and go to 1.26
  flake.lock
  flake.nix
Due: nixpkgs-fmt

go: bump to 1.26 and refresh kra and tasmota-go
  go.mod
  go.sum
Due: none

go: update external dependencies and vendorHash
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

flake: switch from nixos-unstable to nixpkgs-unstable
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake: use nixpkgs shorthand in input URL
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: migrate to official Nix installer + hestia cache
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: prettier

test: fix data race in SSE recorder
  web_test.go
Due: gofmt, golangci-lint

nix: fix module option
  .github/workflows/ci.yml
Due: prettier

ci: pin nix-installer and hestia actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: prettier

ci: run checks via kradalby/flake-checks
  .github/workflows/ci.yml
  debug.go
  flake.lock
  flake.nix
  metrics/collector_test.go
  plugs/types_test.go
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

ci: include plugs.hujson.example fixture in test src
  flake.lock
  flake.nix
Due: nixpkgs-fmt

deps: update flake, go deps, pin action SHAs
  .github/workflows/ci.yml
  .github/workflows/gc.yml
  app.go
  events/bus.go
  flake.lock
  flake.nix
  go.mod
  go.sum
  hap.go
  mqtt.go
  plugs/manager.go
  web.go
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

ci: bump Mic92/hestia to v1.0.2
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: prettier

all: build with Go 1.27
  flake.lock
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

all: modernize with go fix
  app.go
  debug.go
  hap.go
  hap_test.go
  metrics/collector.go
  metrics/collector_test.go
  mqtt.go
  mqtt_test.go
  plugs/manager.go
  plugs/manager_test.go
  plugs/types.go
  state_sync_test.go
  web.go
  web_test.go
Due: gofmt, golangci-lint

web: fix event log race and SSE channel double close
  web.go
  web_test.go
Due: gofmt, golangci-lint

nix: adopt nixfmt via flake-checks bump
  flake.lock
  flake.nix
  nix/module.nix
  nix/test.nix
Due: nixpkgs-fmt

nix: point pre-commit hook and devShell at nixfmt
  .pre-commit-config.yaml
  flake.nix
Due: nixpkgs-fmt, prettier

deps: re-point kra and tasmota-go at merged main
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

nix: move off deprecated stdenv.isLinux alias
  flake.nix
Due: nixpkgs-fmt

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(result/|\.direnv/)
  prettier: any of: \.(yaml|yml)$, \.json$, \.(md|markdown|mdown)$, but not: ^(result/|\.direnv/)
  gofmt: any of: \.go$, but not: ^(result/|\.direnv/)
  golangci-lint: any of: \.go$, but not: ^(result/|\.direnv/)
