Repository kradalby/tasmota-homekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, prettier, gofmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different
  language: system

gofmt:
  name: gofmt
  entry: gofmt -w
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev=HEAD~1
  language: system
  pass_filenames: false

docs: add workflow overview and agents notes
  .github/workflows/README.md
  AGENTS.md
Due: prettier

app: refactor runtime into packages
  app.go
  cmd/tasmota-homekit/main.go
  config/config.go
  config/config_test.go
  go.mod
  go.sum
  hap.go
  hap_test.go
  main.go
  main_test.go
  mqtt.go
  mqtt_test.go
  nix/README.md
  nix/module.nix
  nix/test.nix
  plugs/manager.go
  plugs/manager_test.go
  plugs/types.go
  plugs/types_test.go
  types.go
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

nix: skip module check on non-linux
  .github/workflows/ci.yml
  flake.nix
Due: nixpkgs-fmt, prettier

Add event bus helpers and metrics collector
  .env.example
  AGENTS.md
  Makefile
  README.md
  TASMOTA_IMPLEMENTATION.md
  app.go
  config/config.go
  config/config_test.go
  events/bus.go
  events/types.go
  flake.nix
  go.mod
  hap.go
  hap_test.go
  logging/logger.go
  logging/logger_test.go
  metrics/collector.go
  metrics/collector_test.go
  nix/module.nix
  plugs/manager.go
  plugs/manager_test.go
  web.go
  web_test.go
Due: nixpkgs-fmt, prettier, gofmt, golangci-lint

Allow tsnet netlink
  nix/module.nix
Due: nixpkgs-fmt

Fix kra metrics + systemd limits
  app.go
  nix/module.nix
Due: nixpkgs-fmt, gofmt, golangci-lint

Relax systemd proc restrictions
  nix/module.nix
Due: nixpkgs-fmt

Relax service sandbox
  nix/module.nix
Due: nixpkgs-fmt

Improve dashboard layout and QR banner
  web.go
Due: gofmt, golangci-lint

Fix QR code rendering
  web.go
Due: gofmt, golangci-lint

fixups
  assets/script.js
  assets/style.css
  events/types.go
  hap.go
  hap_custom.go
  hap_test.go
  mqtt.go
  plugs.hujson.example
  plugs/manager.go
  plugs/types.go
  web.go
Due: gofmt, golangci-lint

no custom
  hap.go
  hap_custom.go
  hap_test.go
  plugs/types.go
Due: gofmt, golangci-lint

state
  assets/script.js
  assets/style.css
  mqtt.go
  plugs/manager.go
  plugs/types.go
  web.go
Due: gofmt, golangci-lint

power
  assets/script.js
  assets/style.css
  mqtt.go
Due: gofmt, golangci-lint

state
  hap.go
  web.go
Due: gofmt, golangci-lint

web
  app.go
  plugs/manager.go
  web.go
  web_test.go
Due: gofmt, golangci-lint

sse fix
  assets/script.js
  assets/style.css
  plugs/manager.go
  web.go
Due: gofmt, golangci-lint

hap debug
  app.go
  hap.go
  hap_test.go
  web.go
  web_test.go
Due: gofmt, golangci-lint

nix fix
  app.go
  hap_debug.go
Due: gofmt, golangci-lint

dbug end
  app.go
  debug.go
  hap_debug.go
  web.go
Due: gofmt, golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(result/|\.direnv/)
  prettier: any of: \.(yaml|yml)$, \.json$, \.(md|markdown|mdown)$, but not: ^(result/|\.direnv/)
  gofmt: any of: \.go$, but not: ^(result/|\.direnv/)
  golangci-lint: any of: \.go$, but not: ^(result/|\.direnv/)
